Webpack (imports/exports)
    Babel
    scss
    Eslint
    2 Modes
        -Dev
         Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
        -prod
         Minified Code
Git
    Production
    Development
